<a href="https://colab.research.google.com/github/BenMeehan/Foundational_Machine_Learning/blob/main/Foundational_ML_and_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Amazon Fine Food Reviews Dataset**

https://www.kaggle.com/snap/amazon-fine-food-reviews

**Loading data directly from Kaggle**

In [1]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [2]:
! mkdir ~/.kaggle

In [3]:
! cp kaggle.json ~/.kaggle/

In [4]:
! chmod 600 ~/.kaggle/kaggle.json

In [6]:
!kaggle datasets download snap/amazon-fine-food-reviews

Downloading amazon-fine-food-reviews.zip to /content
 99% 239M/242M [00:01<00:00, 175MB/s]
100% 242M/242M [00:01<00:00, 168MB/s]

In [8]:
! unzip amazon-fine-food-reviews.zip

Archive:  amazon-fine-food-reviews.zip
  inflating: Reviews.csv
  inflating: database.sqlite
  inflating: hashes.txt

In [9]:
!pwd

/content

**Data is available in the content directory**

---

# **Loading the data using Sqllite3 and Pandas**

In [46]:
import numpy as np
import pandas as pd
import sqlite3

con=sqlite3.connect(r"database.sqlite")
df=pd.read_sql_query("SELECT * FROM Reviews WHERE Score != 3",con)

In [29]:
df.head()

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...
2   3  ...  This is a confection that has been around a fe...
3   4  ...  If you are looking for the secret ingredient i...
4   5  ...  Great taffy at a great price.  There was a wid...

[5 rows x 10 columns]

# Replace Score column with postive or negative (val<3)

In [47]:
def replace(val):
  if val<3:
    return 'Negative'
  else:
    return 'Positive' 

score_col=df['Score']
modified_score=score_col.map(replace)

In [31]:
modified_score

0         Positive
1         Negative
2         Positive
3         Negative
4         Positive
            ...
525809    Positive
525810    Negative
525811    Positive
525812    Positive
525813    Positive
Name: Score, Length: 525814, dtype: object

In [48]:
df['Score']=modified_score

In [33]:
df.head()

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...
2   3  ...  This is a confection that has been around a fe...
3   4  ...  If you are looking for the secret ingredient i...
4   5  ...  Great taffy at a great price.  There was a wid...

[5 rows x 10 columns]

# Cleaning the data

*Tip to self: Always clean your data*

**Garbage in, Garbage out.**

In [38]:
#Checking if any reviews are duplicated
pd.read_sql_query("select *,count(*) from Reviews group by Summary,Text having count(*)>1",con)

           Id  ... count(*)
0      426710  ...        6
1      482378  ...        4
2      542834  ...        4
3      466145  ...       10
4      451886  ...        3
...       ...  ...      ...
57410  514082  ...        4
57411  500469  ...        4
57412  555048  ...        5
57413  313751  ...        2
57414   64919  ...        2

[57415 rows x 11 columns]

In [42]:
# Checking for a user
pd.read_sql_query("Select * from Reviews where UserID='A3MWYVPJ5X8MBH'",con)

       Id  ...                                               Text
0   41586  ...  This is quality matcha tea at a very low price...
1  324587  ...  This is quality matcha tea at a very low price...
2  411645  ...  This is quality matcha tea at a very low price...
3  542834  ...  This is quality matcha tea at a very low price...

[4 rows x 10 columns]

Micheal seems to have same review for different products at the same timestamp (!impossible)

In [49]:
# Removing duplicates
filtered_df=df.drop_duplicates(subset=['UserId','Time','Summary','Text'])

In [50]:
filtered_df.shape

(365293, 10)

In [51]:
df.shape

(525814, 10)

In [54]:
(filtered_df.shape[0]/df.shape[0])*100

69.47190451376343

**About 30 percent of the data was duplicated**

In [56]:
# Helpfulness Denominater= Helpfulness Numerator + not helpful
# hence helpfulness numerator should be <= helpfulness denominator

pd.read_sql_query("Select * from Reviews where HelpfulnessNumerator > HelpfulnessDenominator",con)

      Id  ...                                               Text
0  44737  ...  It was almost a 'love at first bite' - the per...
1  64422  ...  My son loves spaghetti so I didn't hesitate or...

[2 rows x 10 columns]

In [58]:
final_df=filtered_df[filtered_df['HelpfulnessNumerator']<=filtered_df['HelpfulnessDenominator']]

In [59]:
final_df.shape

(365291, 10)