<a href="https://colab.research.google.com/github/BenMeehan/Foundational_Machine_Learning/blob/main/NLP_n_grams.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mounting GDrive

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Loading Text Pre-Processed Dataset from Drive

In [3]:
import pandas as pd
df=pd.read_csv('drive/My Drive/final_df.csv')

In [3]:
df.head()

   Unnamed: 0  ...                                               Text
0           0  ...  bought several vitality canned dog food produc...
1           1  ...  product arrived labeled jumbo salted peanutsth...
2           2  ...  confection around century light pillowy citrus...
3           3  ...  looking secret ingredient robitussin believe f...
4           4  ...  great taffy great price wide assortment yummy ...

[5 rows x 11 columns]

In [4]:
text=df['Text'].fillna(" ")
text

0         bought several vitality canned dog food produc...
1         product arrived labeled jumbo salted peanutsth...
2         confection around century light pillowy citrus...
3         looking secret ingredient robitussin believe f...
4         great taffy great price wide assortment yummy ...
                                ...
365286    great sesame chickenthis good better resturant...
365287    disappointed flavor chocolate note especially ...
365288    star small give one training session tried tra...
365289    best treat training rewarding dog good groomin...
365290    satisfied product advertised use cereal raw vi...
Name: Text, Length: 365291, dtype: object

In [9]:
import numpy as np

# Bag of Words for Bi-grams
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(ngram_range=(2, 2))
final=vectorizer.fit_transform(text.values)

In [6]:
vectorizer.get_feature_names_out()

array(['aa pleased', 'aa preservativeoh', 'aa stated', ..., 'être fort',
       'île reacute', 'îts real'], dtype=object)

In [8]:
df[df['Text'].isnull()]

        Unnamed: 0  ...  Text
143034      173313  ...   NaN
171961      215861  ...   NaN
257079      350034  ...   NaN

[3 rows x 11 columns]

In [10]:
final.shape

(365291, 3952522)

# **TF-IDF Vectorizer on raw data**

In [12]:
raw_text=pd.read_csv('drive/My Drive/raw_text.csv')

In [15]:
raw_text=raw_text['Text']

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range=(1,2))

In [21]:
X = vectorizer.fit_transform(raw_text)

In [22]:
X.shape

(525814, 2910206)

In [23]:
features=vectorizer.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [26]:
features[200000:200010]

['around easy',
 'around eat',
 'around eating',
 'around ebay',
 'around edge',
 'around edges',
 'around effects',
 'around eight',
 'around either',
 'around elsewhere']